= form_for @parking do |f|
  - if @parking.errors.any?
    #error_explanation
      h2 = "#{pluralize(@parking.errors.count, "error")} prohibited this parking from being saved:"
      ul
        - @parking.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :available
    = f.check_box :available
  .field
    = f.label :has_camera
    = f.check_box :has_camera
  .field
    = f.label :has_watchman
    = f.check_box :has_watchman
  .field
    = f.label :zip_code
    = f.text_field :zip_code
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :main_picture
    = f.text_field :main_picture
  .field
    = f.label :price_month
    = f.text_field :price_month
  .actions = f.submit
