.row
  .col-xs-6
    = link_to image_tag(parking.main_picture, border: 0, alt: "Card image cap", class: "img-responsive"), parking
    p.card-text 
      strong= parking.slug
  .col-xs-6
    p
      p
        strong Name:
        '
        = parking.name
      p
        strong Address:
        '
        = parking.address
      p
        strong Available:
        '
        = parking.available
      p
        strong Has camera:
        '
        = parking.has_camera
      p
        strong Has watchman:
        '
        = parking.has_watchman
      p
        strong Zip code:
        '
        = parking.zip_code
      p
        strong City:
        '
        = parking.city
      p
        strong Price month:
        '
        = humanized_money_with_symbol parking.price_month
      p
        = link_to 'Show', parking
        '
        = link_to 'Edit', edit_parking_path(parking)
        '
        = link_to 'Destroy', parking, data: { confirm: 'Are you sure?' }, method: :delete
