h1 Listing parkings

table.table.table-hover.table-sm
  thead
    tr
      th Name
      th Address
      th Available
      th camera?
      th watchman?
      th Zip code
      th City
      th picture
      th Price/month
      td Actions
      td

  tbody
    - @parkings.each do |parking|
      tr scope='row'
        td = parking.name
        td = parking.address
        td = parking.available
        td = parking.has_camera
        td = parking.has_watchman
        td = parking.zip_code
        td = parking.city
        td = humanized_money_with_symbol parking.price_month
        td
          = link_to image_tag(parking.main_picture, border: 0, alt: parking.name, width: '100px', height: 'auto', class: "img-responsive"), parking
        td colspan="2"
          = link_to 'Show', parking
          '
          = link_to 'Edit', edit_parking_path(parking)
          '
          = link_to 'Destroy', parking, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Parking', new_parking_path
