
body
  min-height: 75rem
  /* Can be removed; just added for demo purposes
  font-family: 'EB Garamond', serif

.navbar
  margin-bottom: 0

.navbar-collapse
  .container-fluid
    padding: 2rem 2.5rem
    border-bottom: 1px solid #55595c
  h4, .text-muted
    color: #818a91

.about
  float: left
  max-width: 30rem
  margin-right: 3rem
  margin-top: 1em

.social a
  font-weight: 500
  color: #eceeef
  &:hover
    color: #fff

.jumbotron
  padding-top: 6rem
  padding-bottom: 6rem
  margin-bottom: 0
  background-color: #fff
  p:last-child
    margin-bottom: 0

.jumbotron-heading
  font-weight: 300

.jumbotron .container
  max-width: 40rem

.album
  min-height: 50rem
  /* Can be removed; just added for demo purposes
  padding-top: 3rem
  padding-bottom: 3rem
  background-color: #f7f7f7

.card
  float: left
  width: 33.333%
  padding: .75rem
  margin-bottom: 2rem
  border: 0
  > img
    margin-bottom: .75rem

.card-text
  font-size: 85%

footer
  padding-top: 3rem
  padding-bottom: 3rem
  p
    margin-bottom: .25rem
