<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div class="navbar-collapse collapse inverse" id="navbar-header" style="-webkit-padding-before: 1.5em;">
    <div class="container-fluid">
      <div class="about">
        <h4>About</h4>
        <p class="text-muted">
          Yespark est le leader en France de la locaction de parking au mois. Notre backend est construit sur le framework web Ruby on Rails. Nous utilisons la plate-forme de service Heroku pour mettre en ligne notre API et notre application web. Notre réseau de parkings en location compte environ 300 parkings dans toute la France. Notre force ? Un service client de qualité, des applications smartphones iOS et Android à la pointe des technologies mobiles natives, une équipe jeune et dynamique. Cela nous permet de proposer des parkings en location environ 30% moins chers que les locations traditionnelles.
        </p>
      </div>
    </div>
  </div>
  <div class="navbar navbar-static-top navbar-dark bg-inverse" style="-webkit-padding-before: 1.3em;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
      <a href="<%= root_path %>" class="navbar-brand">YesPark</a>
      <% unless @is_page_controller %>
        <div class="float-xs-right" style="margin-top: 0.5em">
          <a href="<%= parkings_path %>" class="btn btn-primary btn-sm">Liste des Parkings</a>
          <a href=<%= page_path('maps') %> class="btn btn-secondary btn-sm">La carte des Parkings</a>
        </div>
      <% end %>
    </div>
  </div>

  <% if @is_page_controller %>
    <section class="jumbotron text-xs-center">
      <div class="container">
        <h1 class="jumbotron-heading">YesPark example</h1>
        <p class="lead text-muted">
          Ceci est un exemple d'application web créée sur Heroku pour illustrer la création, la modification et la suppression de Parking.</p>
        <p>
        <a href="<%= parkings_path %>" class="btn btn-primary">Liste des Parkings</a>
        <a href=<%= page_path('maps') %> class="btn btn-secondary">La carte des Parkings</a>
        </p>
      </div>
    </section>
  <% end %>

  <div class="album text-muted">
    <div class="container">
      <%= render "flashes" -%>
      <%= yield %>
    </div>
  </div>

  <footer class="text-muted">
    <div class="container">
      <p class="float-xs-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>

  <script src="//maps.google.com/maps/api/js?key=<%= ENV.fetch('GOOGLE_MAPS_JS_API') %>"</script>
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
    <script>
      $(function () {
        Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
      });
    </script>
  <%= render "javascript" %>
  <%= render "css_overrides" %>

    <%= render "layouts/map" %>
</body>
</html>

